@font-face {
	font-family: 'arialregular';
	src: url('../fonts/arial-webfont.eot');
	src: url('../fonts/arial-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/arial-webfont.woff2') format('woff2'), url('../fonts/arial-webfont.woff') format('woff'), url('../fonts/arial-webfont.ttf') format('truetype'), url('../fonts/arial-webfont.svg#arialregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Generic CSS */

body {
	font-family: 'arialregular';
	background-color: #f2f2f2;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.2;
}
h2 {
	font-size: 34px;
	line-height: 1.2;
	font-weight: 300;
	margin: 0 0 30px;
}
h5 {
	font-size: 20px;
	font-weight: 400;
	text-align: justify;
}
p {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 10px;
}
.mar-bottom {
	margin-bottom: 30px;
}
.carousel-inner ul {
	list-style: none;
	margin: -15px 0 0;
	padding: 0px;
}
.tech-insurance-right p {
	padding: 0 15px;
	text-align: justify;
}
.carousel-inner ul li {
	display: inline-block;
	margin-right: 15px;
}
.FirstSection .FirstSectionInner p {
	text-align: justify;
}
.AboveFooter .AboveFooterInner p {
	text-align: justify;
}
.HeaderTitle {
	text-transform: uppercase;
	text-align: center;
	color: #323232;
}
/*Bootstrap Slider */

.sliderMain .item:nth-child(1) {
	background: url('../img/banner/img1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 80vh;
	max-height: 768px;
}
.sliderMain .item:nth-child(2) {
	background: url('../img/banner/img2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 80vh;
	max-height: 768px;
}
.sliderMain .item:nth-child(3) {
	background: url('../img/banner/crm.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 80vh;
	max-height: 768px;
}
.sliderMain {
	background-position: center center;
	display: block;
	width: 100%;
	height: 80vh;
	/* height: 100vh; */
	/* If you want fullscreen */
	position: absolute;
	top: 0px;
}
/*Toggle Start */

.dropdown-menu {
	background-color: #006cc7;
	top: 40px;
}
.navbar-toggle {
	background-color: #016bc3;
	border: 1px solid #f2f2f2;
	border-radius: 0;
}
.navbar-default .navbar-toggle {
	border-color: #f2f2f2;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f2f2f2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #016bc3;
}
/* ---- Color ---- */

.green {
	color: #016bc3 !important;
}
.white {
	color: #f2f2f2 !important;
}
/* --- Button --- */

.ArrowButton.btn {
	border-radius: 200px;
	width: 165px;
	color: #036AC7;
	box-shadow: 0 5px 16px 0 #f1f1f1;
	border: none;
	transition: 0.5s all ease-in-out;
	font-family: 'arialregular';
}
.ArrowButton.btn:hover {
	background-color: #f2f2f2;
}
.ArrowButton.btn:hover .angle-right {
	transform: translateX(15px);
}
/* ----- Header ----- */

header {
	position: relative;
}
.BodyContent {
	margin-top: -122px;
}
.navbar.navigation {
	border: 0;
	margin: 0;
	padding: 5px 0 10px;
	border-radius: 0;
	background-color: transparent;
	z-index: 100;
}
.navbar.navigation.navigation-fixed {
	position: fixed;
	background-color: #f2f2f2 !important;
	z-index: 9999;
	top: 0;
	left: 0px;
	width: 100%;
	height: 67px;
}
.navbar.navigation-fixed .navbar-brand.nav-fixed {
	display: inline;
	margin-top: -15px;
}
.navbar.MegamenuActive .navbar-brand.nav-fixed {
	display: inline;
	margin-top: -10px;
}
.navbar.navigation {
	border: 0;
	margin: 0;
	padding: 5px 0 0;
	border-radius: 0;
	background-color: transparent;
	z-index: 100;
}
.navbar.navigation .navbar-default .navbar-nav>li>a:hover {
	color: #f2f2f2 !important;
}
.dropdown-toggle {
	background-color: transparent;
}
.dropdown-toggle:focus,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:visited {
	background-color: transparent;
}
.navbar.navigation .navbar-nav {
	float: right;
	margin: 0;
}
.navbar-default.MegamenuActive {
	background-color: #f2f2f2 !important;
}
.navbar-default .navbar-brand {
	padding: 0;
	margin-right: 15px;
}
.navbar-default .navbar-brand img {
	max-height: 50px;
}
.nav-fixed {
	color: #777777;
	padding: 0 !important;
}
.nav-fix {
	margin-left: 60px !important;
}
.nav-fix li a {
	color: #777 !important;
}
.nav-custom li ul li.dropdown.open a {
	color: #333;
}
body .navbar>.container .navbar-brand,
body .navbar>.container-fluid .navbar-brand {
	margin-left: 0;
}
body .container>.navbar-header,
body .container-fluid>.navbar-header,
body .container>.navbar-collapse,
body .container-fluid>.navbar-collapse {
	margin: 0;
	padding: 0;
}
.navbar.navigation .nav.nav-custom>li a {
	color: #f2f2f2;
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
}
.MegamenuActive .navbar.navigation .nav.nav-custom>li a {
	color: #333 !important;
	font-size: 16px;
	font-weight: bold;
}
.navbar.navigation .nav.nav-custom>li:last-child a {
	padding-right: 0;
}
.MegamenuActive .nav.nav-custom>li .dropdown-toggle:hover,
.MegamenuActive .nav.nav-custom>li .dropdown-toggle:active,
.MegamenuActive .nav.nav-custom>li .dropdown-toggle:focus {
	background-color: transparent;
}
.MegamenuActive .navbar-nav>li>.dropdown-menu.dropdownhover-bottom li a:hover {
	color: #333 !important;
	background-color: #fff;
}
.navbar.navigation .nav.nav-custom>li a:hover {
	color: #f2f2f2;
	font-size: 16px;
}
.navbar.navigation .nav.nav-custom > li ul li a:hover {
	color: #000 !important;
	background-color: #fff !important;
}
.dropdown-content ul li a {
	color: #333 !important;
}
.navbar.navigation-fixed .nav.nav-custom>li a {
	font-size: 16px;
	background-color: transparent;
	color: #333;
}
.navbar.MegamenuActive .nav.nav-custom>li a {
	font-size: 16px;
	background-color: transparent;
}
.navbar.navigation-fixed .nav.nav-custom>li a:hover {
	color: #036AC7;
	font-size: 16px;
}
.navbar .navbar-brand.nav-fixed {
	display: none;
}
.navbar.navigation-fixed .navbar-brand.nav-fixed,
.navbar.MegamenuActive .navbar-brand.nav-fixed {
	display: inline;
}
.navbar.navigation-fixed .navbar-brand,
.navbar.MegamenuActive .navbar-brand {
	display: none;
}
.navigation-fixed.navbar-default .nav-custom li a,
.MegamenuActive.navbar-default .nav-custom li a {
	color: #036AC7;
}
.MegamenuActive .navbar-nav>li>a {
	color: #333 !important;
}
.MegamenuActive .navbar-nav>li>ul>li>a {
	color: #fff !important;
}
.dropdown .dropdown-menu .caret {
	border: 4px solid transparent;
	border-left-color: #fff;
	float: right;
	margin-top: 6px;
}
.navbar.navigation-fixed .nav.nav-custom>li ul li a {
	color: #fff;
}
.RightDiv a {
	color: #f2f2f2;
}
.navbar .dropdown.open a {
	color: #333;
}
/* Banner Wrapper */

.banner-wrap {
	background-color: rgba(0, 108, 199, 0.7);
	text-align: center;
	width: 50%;
	margin: 0 auto;
	padding: 0 15px 15px;
	border-top: 7px solid #db7708;
	border-radius: 4px;
}
.banner-wrap h3 {
	color: #f2f2f2;
	font-family: 'arialregular';
	margin: 20px 0;
}
.banner-wrap h4 {
	color: #f2f2f2;
	font-family: 'arialregular';
	margin: 20px 0;
}
.banner-wrap .btn.btn-default {
	border-color: #db7708;
	border-radius: 0;
	font-family: 'arialregular';
	color: #f2f2f2;
	text-transform: uppercase;
	font-size: 16px;
	background-color: #db7708;
}
.banner-wrap .btn-custom {
	border: 1px solid #f2f2f2;
	color: #f2f2f2;
	transition: 0.5s all ease-in-out;
	text-transform: uppercase;
	font-size: 16px;
}
.banner-wrap .btn-custom:hover {
	background-color: #f2f2f2;
	color: #0062b1;
}
.banner-wrap .btn-default:hover {
	color: #f2f2f2;
	background-color: #db7708;
	border-color: #f2f2f2;
	border: 1px solid #db7708;
	font-family: 'arialregular';
}
.banner-wrap p {
	color: #f2f2f2;
	margin: 20px 0;
}
/*replace the content value with the corresponding value from the list below*/

.product-list ul li::before {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #006bb6;
	font-size: 18px;
	padding-right: 0.5em;
	position: relative;
	top: 2px;
	left: 0;
}
.image {
	text-align: center;
}
/* ----- Home Page ----- */

/*-- Home Banner --*/

.HomeBanner .banner-text h1 span {
	display: block;
}
.HomeBanner {
	position: relative;
	height: 80vh;
	max-height: 768px;
}
.dropdown-menu {
	min-width: 175px;
	padding: 0;
	margin: 0;
}
.HomeBanner .banner-text {
	position: absolute;
	top: 25%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
/* Animation */

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 100px, 0)
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}
@-webkit-keyframes fadeInUp {
	from {
		transform: translate3d(0, 100px, 0)
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1
	}
}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both
}
.animatedFadeInUp {
	opacity: 0
}
.fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
}
.news-box figure img {
	width: 100%;
}
.news-box {
	background: #f2f2f2;
	padding: 0;
	transition: 0.5s all ease-in-out;
	border-radius: 4px !important;
	cursor: pointer;
	box-shadow: 0 0 20px #ddd;
	height: 580px;
	margin-bottom: 30px;
}
.address a {
	color: #fff;
}
.glyphicon-chevron-left::before {
	content: url(../img/left-arrow.png);
}
.glyphicon-chevron-right::before {
	content: url(../img/right-arrow.png);
}
.container-fluid.ClientLogoContainer .carousel-control .glyphicon-chevron-left,
.container-fluid.ClientLogoContainer .carousel-control .glyphicon-chevron-right,
.container-fluid.ClientLogoContainer .carousel-control .icon-prev,
.container-fluid.ClientLogoContainer .carousel-control .icon-next {
	margin-top: -13px;
	position: relative;
	left: -3px;
}
/* -- tech Insurance -- */

.tech-insurance h2 span {
	display: block;
}
.tech-insurance {
	background: #f2f2f2;
	background-size: 100% 200px;
	background-repeat: no-repeat;
}
.tech-insurance .container {
	padding: 30px 0;
	background-color: #f2f2f2;
}
.tech-insurance-left {
	text-align: center;
}
/* Product Section Start */

.product {
	background: url('../img/product.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0;
}
.product-left .btn.btn-default {
	margin-top: 40px;
	border-radius: 100px;
	height: 50px;
	padding: 0;
	width: 160px;
	line-height: 50px;
	transition: all 400ms linear;
}
.angle-right {
	width: 35px;
	height: 35px;
	background-color: #db7708;
	display: inline-block;
	line-height: 35px;
	border-radius: 50%;
	transition: all 400ms linear;
	margin-left: 5px;
}
display:inline-block;
 line-height:35px;
 border-radius:50%;
 transition:all 400ms linear;
 margin-left:5px;

}
.product-left .btn.btn-default:hover {
	background-color: #f2f2f2;
}
.product-left .btn.btn-default:hover .angle-right {
	transform: translateX(15px);
}
/* -- Counter -- */

.counter {
	background: url('../img/map.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0;
}
.counter-inner h3 {
	color: #016bc3;
	font-size: 40px;
	font-weight: 100;
	font-family: 'arialregular';
	margin: 10px 0;
}
.counter-inner h3 span {
	font-size: 34px;
	color: #323232;
	margin-left: 15px;
	font-family: 'arialregular';
}
/* -- Benchmark -- */

.benchmark {
	padding: 100px 0;
	background-color: #f2f2f2;
	text-align: center;
}
.benchmark h2 {
	margin: 30px 0 0;
}
/* Find Out More */

.findOut {
	/*background:#f2f2f2 url(../img/findout.png);
    */
	background: #f2f2f2;
	background-repeat: no-repeat;
	background-size: cover;
}
.product-sub {
	margin-right: 273px;
}
.product-subInner {
	width: 55%;
}
.findOut h3 {
	color: #323232;
	margin-bottom: 60px;
}
.findOut .btn.btn-default {
	margin-top: 25px;
}
.whatSection {
	background-color: #f2f2f2;
	padding: 40px 20px;
}
.whatSection .whatInner-Container:first-child {
	border-right: 1px solid #dedede;
}
.whatInner {
	text-align: center;
}
.findOut .btn.btn-default {
	border-radius: 200px;
	width: 165px;
	color: #db7708;
	box-shadow: 0 5px 16px 0 #f1f1f1;
	border: none;
	transition: 0.5s all ease-in-out;
	font-family: 'arialregular';
	margin-top: 25px;
}
.findOut .btn.btn-default:hover {
	background-color: #f2f2f2;
}
.findOut .btn.btn-default:hover .angle-right {
	transform: translateX(15px);
}
.foot-box h3 {
	color: #f2f2f2;
}
/*Footer Menu */

.footer {
	background: #fff url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 0;
}
.footer .MobDiv {
	display: none;
}
.footer figure img {
	max-height: 50px;
}
.foot-box .social {
	margin: 20px 0;
}
.foot-box .social li {
	display: inline-block;
	margin-right: 15px;
}
.foot-box h3 {
	margin: 0px 0px;
	font-family: 'arialregular';
}
.foot-box ul li a {
	color: #f2f2f2;
	font-family: 'arialregular';
}
.foot-nav {
	position: relative;
	top: 20px;
}
.foot-nav li {
	margin-bottom: 7px;
	width: 32.3%;
	display: inline-block;
	vertical-align: top;
}
.foot-box .address {
	position: relative;
	top: 20px;
	color: #f2f2f2;
	line-height: 26px;
	font-family: 'arialregular';
}
.FooterCopyRight {
	background-color: #db7708;
	border-top: 2px solid #0171c6;
	padding: 15px 0;
}
.FooterCopyRight p {
	font-size: 14px;
	font-family: 'arialregular';
	line-height: 1.5;
	color: #f2f2f2;
	margin: 0;
}
.FooterCopyRight .RightDiv p {
	text-align: right;
}
/* News Section */

.news-box {
	background: #f2f2f2;
	padding: 0;
	transition: 0.5s all ease-in-out;
	border-radius: 4px !important;
	cursor: pointer;
	box-shadow: 0 0 20px #ddd;
}
.news-inner {
	padding: 0 20px 20px;
}
.news-inner h3 {
	margin: 15px 0 10px;
}
/* Gallery */

.gallery-box {
	padding-bottom: 15px;
	background-color: rgba(0, 108, 199, 0.7);
	margin-bottom: 30px;
}
.gallery-box .example-image {
	width: 100%;
	border: 3px solid #006CC7;
	padding: 5px;
	border-radius: 4px;
}
.gallery-box h3 {
	margin: 0px;
	padding: 10px 0 0px 15px;
	font-size: 16px;
	color: #f2f2f2;
}
.gallery-box h3 a {
	color: #f2f2f2;
}
.modal-open .modal {
	z-index: 999999;
}
.modal-dialog {
	margin: 10px auto 0;
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	background-color: rgba(0, 108, 199, 0.7);
	color: #f2f2f2;
}
.modal-header .close {
	margin-top: -2px;
	color: #333;
}
div.upload {
	width: 70px;
	height: 57px;
	background-image: url("../img/upload.png");
	background-repeat: no-repeat;
	overflow: hidden;
}
.whole .upload {
	display: inline-block;
}
.whole {
	text-align: left;
}
.whole span {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	font-weight: bold;
}
div.upload input {
	display: block !important;
	width: 157px !important;
	height: 57px !important;
	opacity: 0 !important;
	overflow: hidden !important;
}
/* The container must be positioned relative: */

.custom-select {
	position: relative;
	font-family: Arial;
}
.custom-select select {
	display: none;
	/*hide original SELECT element: */
}
.select-selected {
	background-color: #f2f2f2;
}
/* Style the arrow inside the select element: */

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #333 transparent transparent transparent;
}
/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #333 transparent;
	top: 7px;
}
/* style the items (options), including the selected item: */

.select-items div {
	color: #333;
	padding: 8px 16px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.select-selected {
	color: #333;
	padding: 8px 16px;
	border: 1px solid rgba(0, 108, 199, 0.7);
	cursor: pointer;
}
/* Style items (options): */

.select-items {
	position: absolute;
	background-color: #f2f2f2;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
/* Hide the items when the select box is closed: */

.select-hide {
	display: none;
}
.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
.form-control {
	border: 1px solid rgba(0, 108, 199, 0.7);
}
/* **** Inner Page Template **** */

.InnerPageBanner {
	position: relative;
	min-height: 500px;
	max-height: 768px;
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
}
.InnerPageBanner .InnerBannerLeft {
	width: 200px;
	display: inline-block;
	padding-right: 20px;
	vertical-align: top;
}
.InnerPageBanner .InnerBannerRight {
	width: calc(100% - 210px);
	display: inline-block;
	vertical-align: top;
}
.InnerPageBanner .InnerBannerText {
	color: #f2f2f2;
	margin-top: 180px;
}
.InnerPageBanner .InnerBannerText h2 {
	font-weight: 400;
	font-size: 40px;
	margin: 0 0 20px;
	line-height: 1;
}
.InnerPageBanner .InnerBannerText p {
	font-weight: 400;
	font-size: 16px;
	margin: 0 0 10px;
	line-height: 1;
}
.InnerPageBanner .InnerBannerText h4 {
	font-weight: 400;
	font-size: 20px;
	margin: 0 0 10px;
	line-height: 40px;
	border-bottom: 1px solid #dedede;
}
.about-sec {
	border-radius: 10px;
	height: 350px;
}
.about-sec1 {
	border-radius: 10px;
	height: auto;
	width: 100%;
}
.about-sec2 {
	border-radius: 20px;
	height: auto;
	width: 100%;
}
.setting {
	text-align: center;
}
.setting img {
	width: 350px;
}
.privacy .InnerPageBanner {
	background-image: url(../img/banner/privacy.jpg);
	background-size: cover;
	background-position: 0;
}
.terms .InnerPageBanner {
	background-image: url(../img/banner/terms.jpg);
	background-size: cover;
	background-position: 0 -151px;
}
.award .InnerPageBanner {
	background-image: url(../img/banner/award.jpg);
	background-size: cover;
	background-position: 0 -50px;
}
.kyor-doctor .InnerPageBanner {
	background-image: url(../img/banner/kyor-doctor.jpg);
	background-size: cover;
	background-position: 0;
}
.ibuzz .InnerPageBanner {
	background-image: url(../img/banner/i-buzz.jpg);
	background-size: cover;
	background-position: 0;
}
.gallery .InnerPageBanner {
	background-image: url(../img/banner/gallery.jpg);
	background-size: cover;
	background-position: 0 -302px;
}
.artificial .InnerPageBanner {
	background-image: url(../img/banner/artificial.jpg);
	background-size: cover;
	background-position: 0 0;
}
.news .InnerPageBanner {
	background-image: url(../img/banner/news.jpg);
	background-size: cover;
	background-position: 0 0;
}
.broker .InnerPageBanner {
	background-image: url(../img/banner/broker.jpg);
	background-size: cover;
	background-position: 0 -406px;
}
.health-buzz .InnerPageBanner {
	background-image: url(../img/banner/health-buzz.jpg);
	background-size: cover;
	background-position: 0;
}
.kyor-work .InnerPageBanner {
	background-image: url(../img/banner/kyor.jpg);
	background-size: cover;
	background-position: 0;
}
.e-claim .InnerPageBanner {
	background-image: url(../img/banner/e-claim.jpg);
	background-size: cover;
	background-position: 0 -236px;
}
.health-x .InnerPageBanner {
	background-image: url(../img/banner/health-x.jpg);
	background-size: cover;
	background-position: 0;
}
.health-x .InnerPageBanner {
	background-image: url(../img/banner/health-x.jpg);
	background-size: cover;
	background-position: 0;
}
.opd .InnerPageBanner {
	background-image: url(../img/banner/opd.jpg);
	background-size: cover;
	background-position: 0 -207px;
}
.crm .InnerPageBanner {
	background-image: url(../img/banner/crm.jpg);
	background-size: cover;
	background-position: 0 -80px;
}
.fraud .InnerPageBanner {
	background-image: url(../img/banner/fraud2.jpg);
	background-size: cover;
	background-position: 0;
}
.about .InnerPageBanner {
	background-image: url(../img/banner/about1.jpg);
	background-size: cover;
	background-position: top top;
}
.ContactUs .InnerPageBanner {
	background-image: url(../img/banner/contact.jpg);
	background-size: cover;
	background-position: 0;
}
.employee .InnerPageBanner {
	background-image: url(../img/banner/customer3.jpg);
	background-size: cover;
	background-position: 0;
}
.career .InnerPageBanner {
	background-image: url(../img/banner/career.jpg);
	background-size: cover;
	background-position: 0 -188px;
}
.pagenotfound .InnerPageBanner {
	background-image: url(../img/banner/page.jpg);
	background-size: cover;
	background-position: 0 -188px;
}
.healthcare .InnerPageBanner {
	background-image: url(../img/banner/healthcare.jpg);
	background-size: cover;
	background-position: top top;
}
.productPage .InnerPageBanner {
	/*background-image: url(../img/insurance-banner.jpg);
    */
	background-image: url(../img/img.jpg);
	background-size: cover;
	background-position: top top;
}
/*First section of inner page */

.FirstSection {
	background: #f2f2f2;
}
.FirstSection .FirstSectionInner {
	background-color: #f2f2f2;
	padding: 0 15px 0px;
}
.InnerPageIconSection {
	padding: 100px 0;
	text-align: center;
}
.InnerPageIconSection h2 {
	font-weight: 300;
	font-size: 34px;
	margin: 5px 0;
	color: #323232;
}
.InnerPageIconSection p {
	color: #323232;
	font-weight: 300;
	font-size: 18px;
	margin: 0 0 5px;
}
.career-sec {
	padding: 30px 0 30px;
}
.JobPosting {
	background-color: #f2f2f2;
	padding: 50px 0;
}
.JobPosting table {
	width: 100%;
}
.JobPosting table tr {
	border-bottom: 1px solid #dde3ee;
}
.JobPosting table tr:last-child {
	border-bottom: none;
}
.JobPosting table tr td {
	padding: 20px 5px;
}
.JobPosting table tr td:nth-child(1) {
	width: 40%;
}
.JobPosting table tr td:nth-child(2) {
	width: 30%;
}
.JobPosting table tr td:nth-child(3) {
	width: 15%;
}
.JobPosting table tr td:nth-child(4) {
	width: 10%;
}
.JobPosting table p {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	margin: 0;
}
.JobPosting table p span {
	font-weight: 400;
	padding-right: 5px;
	display: inline-block;
}
.JobPosting table tr td:nth-child(1) p span {
	width: 105px;
}
.JobPosting table tr td:nth-child(2) p span {
	width: 95px;
}
.AboveFooter .AboveFooterInner {
	background-color: #f2f2f2;
	padding: 40px 20px 40px;
}
.AboveFooter .AuthorDiv img {
	width: 50px;
	border-radius: 100%;
	display: inline-block;
	float: left;
}
.AboveFooter .AuthorDiv h4 {
	display: inline-block;
	width: calc(100% - 50px);
	font-size: 18px;
	font-weight: 500;
	padding-left: 20px;
	margin: 0;
	line-height: 1.5;
}
.AboveFooter .AuthorDiv h4 span {
	display: block;
	font-size: 14px;
	font-weight: 400;
}
.GoogleMap iframe {
	width: 100%;
}
/*Social Link*/

.social-link ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: right;
}
.social-link ul li {
	display: inline-block;
	margin-left: 20px;
}
.social-link ul li a {
	color: #f2f2f2;
	font-weight: bold;
}
.navbar.navigation.navigation-fixed .social-link ul li a {
	color: #333;
}
.MegamenuActive .social-link ul li a {
	color: #333;
}
.ContactUs .FormGroup .form-group label {
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	display: block;
	margin-bottom: 5px;
}
.ContactUs .FormGroup .form-group .form-control,
.ContactUs .FormGroup .form-group textarea {
	border: 1px solid #c8dae9;
}
.ContactUs .FormGroup .form-group .form-control:focus,
.ContactUs .FormGroup .form-group textarea:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #90c5ef;
}
.ContactUs .FormGroup .form-group textarea {
	width: 100%;
	border: 1px solid #c8dae9;
	height: 100px;
	resize: none;
}
.ConatctInner {
	margin-bottom: 20px;
}
.ContactUs .FormGroup {
	padding: 0 0;
}
.ContactDetails {
	background-color: #f2f2f2;
	padding: 50px 0;
}
/*Job Posting  Start*/

.jobShow {
	background-color: #f2f2f2;
	padding: 20px;
	box-shadow: 0 0 20px 0 #ddd;
	margin-bottom: 30px;
}
.jobPostInner h2 {
	font-size: 20px;
	text-align: left;
	margin: 0;
}
.PostDate {
	text-align: left;
	margin-top: 15px;
}
.jobPostInner p {
	text-align: left;
	font-size: 16px;
	margin: 0;
}
.PostDate h4 {
	font-size: 18px;
	margin: 0 0 8px;
	color: #016bc3;
}
.job-description h3 {
	text-align: justify;
	text-decoration: underline;
	color: #016bc3;
}
.jobPostInner h2 {
	color: #016bc3;
	font-weight: 600;
	margin-bottom: 10px;
}
.job-description p {
	font-size: 16px;
	text-align: justify;
}
.keySkill h3 {
	text-align: justify;
	text-decoration: underline;
	color: #016bc3;
}
.keySkill p {
	font-size: 16px;
	text-align: justify;
}
.PostDate p {
	font-size: 16px;
	margin: 0;
}
/* Job Posting End*/

/*Employee Section*/

.HealthBenifits {
	background-color: #016bc6;
}
.HealthMenuDiv {
	background-color: #f2f2f2;
	width: 300px;
	display: inline-block;
	float: right;
	position: relative;
	padding: 50px 30px;
}
.HealthMenuDiv h2 {
	text-transform: uppercase;
	text-align: left;
	color: #323232;
	font-size: 28px;
}
.HealthMenuDiv ul li a {
	color: #016bc3;
}
.HealthMenuDiv ul li.active a {
	color: #000;
	position: relative;
}
.inner-link ul li a {
	color: #016bc6!important;
	position: relative;
}
.inner-link ul li a:before {
	content: "";
	width: 0px !important;
	border: 0px solid #4abb4b !important;
	position: absolute;
	left: -45px;
	z-index: 1;
	top: 6px;
}
.HealthMenuDiv ul > li.active a:before {
	content: "";
	width: 30px;
	border: 1px solid #4abb4b;
	position: absolute;
	left: -45px;
	z-index: 1;
	top: 6px;
}
.HealthMenuDiv ul {
	padding: 0;
	list-style: none;
}
.HealthMenuSubDiv {
	background-color: #f2f2f2;
	position: absolute;
	width: 300px;
	left: -300px;
	bottom: 0;
	padding: 25px;
	background-color: #f2f2f2;
}
.HowItWorks {
	background-color: #f2f2f2;
	padding: 100px 0;
}
.ImgText h1 {
	color: #8ab1d2;
	font-size: 65px;
	margin: 0;
}
.ImgText img {
	margin-top: -40px;
}
ul.ColorBgUl {
	list-style: none;
	padding: 0;
}
ul.ColorBgUl li {
	position: relative;
	padding-left: 15px;
}
ul.ColorBgUl li p {
	margin-bottom: 8px;
	line-height: 1;
}
ul.ColorBgUl li:before {
	content: url("../img/UlBg.png");
	position: absolute;
	left: 0;
}
ul.ColorBgUl li:after {
	content: "";
	width: 1px;
	height: 100%;
	border: 1px solid #016bc3;
	position: absolute;
	left: 3px;
	bottom: -13px;
}
ul.ColorBgUl li:last-child:after {
	display: none;
}
/*Product Page*/

.HelpingYou {
	background-color: #016bc6;
	padding: 100px 0;
	color: #f2f2f2;
}
.KeyBenefits {
	padding: 100px 0;
}
.HelpingYouLeft ul.ColorBgUl {
	text-align: right;
}
.HelpingYouLeft ul.ColorBgUl li {
	position: relative;
	padding-right: 15px;
}
.HelpingYouLeft ul.ColorBgUl li:before {
	right: 0;
	left: auto;
}
.HelpingYouLeft ul.ColorBgUl li:after {
	right: 4px;
	left: auto;
}
@media (max-width: 1199px) {
	.counter-inner h3 {
		font-size: 70px;
	}
	.counter-inner h3 span {
		font-size: 27px;
		margin-left: 10px;
	}
	.InnerPageBanner .InnerBannerBootomBg {
		width: 940px;
	}
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
	.social-link.hidden-lg.hidden-sm {
		display: none!important;
	}
}
@media (max-width: 991px) {
	.social-link.hidden-lg.hidden-sm.hidden-xs {
		display: none;
	}
	.navbar.navigation.navigation-fixed {
		height: 84px;
	}
	.HomeBanner .banner-text {
		top: 350px;
		left: 20px;
	}
	.benchmark .container,
	.counter .container,
	.whatSection {
		text-align: center;
	}
	.benchmark-inner h3 {
		font-size: 27px;
	}
	.benchmark .benchmark-inner {
		margin: 20px 0;
	}
	.benchmark {
		padding: 50px 0;
	}
	.product .product-right img {
		margin: 20px auto 0;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse.collapse .nav-custom {
		display: none;
	}
	.navbar-collapse.collapse.in .nav-custom {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	.navbar-default.navigation,
	.navbar-default.navigation-fixed {
		padding: 15px 0;
		background-color: #fff;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}
	.WhiteIconDiv {
		display: none!important;
	}
	.ColorIconDiv {
		display: block !important;
	}
	.social-link ul li a {
		color: #000;
	}
	.navbar.navigation-fixed .navbar-brand.nav-fixed,
	.navbar.MegamenuActive .navbar-brand.nav-fixed,
	.navbar-default.navigation .navbar-brand.nav-fixed {
		display: inline;
	}
	.navbar-default.navigation .navbar-brand {
		display: none;
	}
	.navbar-default .navbar-nav>li>a {
		color: #323232;
		padding: 8px 0;
		border-bottom: 1px solid #026cb7;
		font-size: 16px;
	}
	.navigation-fixed.navbar-default .nav-custom.navbar-right a.white-circle,
	.MegamenuActive.navbar-default .nav-custom.navbar-right a.white-circle,
	.navbar-default .navbar-nav.navbar-right>li>a.white-circle {
		border: 1px solid #026cb7;
		padding: 8px;
		width: 40px;
		height: 40px;
	}
	.navigation-fixed.navbar-default .nav-custom.navbar-right,
	.MegamenuActive.navbar-default .nav-custom.navbar-right,
	.navbar-default .navbar-nav.navbar-right {
		margin: 0;
	}
	.navbar-collapse.collapse.in .nav-custom li {
		display: block;
		width: 100%;
	}
	.navbar-nav {
		margin: 0px;
	}
	.navbar-collapse.collapse.in .nav-custom.navbar-right li .white-circle {
		float: right;
		text-align: center;
		margin-top: 8px;
	}
	.navbar-header {
		width: 100%;
	}
	.footer .MobDiv {
		display: block;
		margin-top: 50px;
	}
	.footer .DeskDiv {
		display: none;
	}
	.HomeBanner {
		min-height: 600px;
	}
	h4.SubHeader {
		font-size: 24px;
	}
	.product-left {
		margin-bottom: 30px;
	}
	.InnerPageBanner .InnerBannerBootomBg {
		width: 720px;
	}
}
/*@media (min-width: 768px) and (max-width: 991px) {
     .navbar-collapse.collapse {
         display: none !important;
    }
     .navbar-collapse.collapse.in {
         display: block !important;
    }
     .navbar-header .collapse, .navbar-toggle {
         display:block !important;
    }
     .navbar-header {
         float:none;
    }
     .navbar-nav > li {
         float: left;
         display: block;
         width: 100%;
    }
}
*/

@media (max-width: 767px) {
	.whatInner-Container {
		margin: 20px 0;
	}
	.HomeBanner {
		min-height: 500px;
	}
}
@media (max-width: 639px) {
	.product .product-left,
	.tech-insurance .tech-insurance-right {
		text-align: center;
	}
	.footer .MobDiv .col-xs-6 {
		width: 100%;
	}
	.HomeBanner-text {
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin-top: 150px;
		text-align: center;
	}
}
/* Clients Logo */

.ClientLogoBgAdj {
	background-color: rgba(255, 255, 255, 0.5);
	height: 100px;
	width: 105px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.HomeBanner .container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}
.clients-logo {
	position: relative;
	bottom: 0;
	background-color: rgba(0, 108, 199, 0.7);
	height: 78px;
	padding: 10px 0 10px 15px;
	width: 100%;
	z-index: 999;
	overflow: hidden;
}
.container-fluid.ClientLogoContainer {
	padding-left: 0px;
	padding-right: 0px;
}
.clients-logo .left.carousel-control {
	display: none;
}
.clients-logo .right.carousel-control {
	position: absolute;
	right: 0;
	top: 0;
	height: 78px;
	width: 50px;
	margin: 0;
	background-color: #db7708;
}
.AboveFooter {
	background-color: #f2f2f2;
	box-shadow: 0 0 6px 1px #aaa;
	margin-top: 40px;
}
.clients-logo .ClientLogoLink {
	right: 50px;
	font-size: 0;
	line-height: 1;
	/* margin-bottom: 20px;
     */
	cursor: pointer;
	position: absolute;
}
.clients-logo .ClientLogoLink:hover {
	font-weight: 600;
	text-decoration: underline;
}
.clients-logo .carousel-col img {
	width: 200px;
	height: 60px;
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.carousel-control {
	width: 8%;
	width: 0px;
}
.carousel-control.left,
.carousel-control.right {
	margin-right: 40px;
	margin-left: 32px;
	background-image: none;
	opacity: 1;
}
.carousel-control>a>span {
	color: white;
	font-size: 29px !important;
}
.carousel-col {
	position: relative;
	min-height: 1px;
	padding: 0;
	float: left;
}
.clients-logo .active>div {
	display: none;
}
.clients-logo .active>div:first-child {
	display: block;
}
@media (max-width: 767px) {
	.clients-logo {
		width: 100%;
	}
	.ClientLogoBgAdj {
		display: none;
	}
	.ClientLogoContainer {
		padding: 0;
	}
	.clients-logo .right.carousel-control {
		height: 40px;
		width: 40px;
		margin: 0;
		background-color: #006cc7;
		right: 21px;
		border-radius: 100%;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		top: 15px;
	}
	.clients-logo .carousel-control .icon-next,
	.clients-logo .carousel-control .glyphicon-chevron-right {
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.tech-insurance-left {
		margin-bottom: 20px;
	}
	.tech-insurance {
		padding: 60px 0;
	}
}
/*Bootstrap Responsive Carosal*/

/*xs*/

@media (max-width: 639px) {
	.carousel-inner .active.left {
		left: -100%;
	}
	.carousel-inner .active.right {
		left: 100%;
	}
	.carousel-inner .next {
		left: 100%;
	}
	.carousel-inner .prev {
		left: -100%;
	}
	.carousel-col {
		width: 100%;
	}
	/*.active > div:first-child + div {
         display:block;
    }
    */
}
@media (min-width: 640px) and (max-width: 767px) {
	.carousel-inner .active.left {
		left: -50%;
	}
	.carousel-inner .active.right {
		left: 50%;
	}
	.carousel-inner .next {
		left: 50%;
	}
	.carousel-inner .prev {
		left: -50%;
	}
	.carousel-col {
		width: 50%;
	}
	.active>div:first-child+div {
		display: block;
	}
}
/*sm*/

@media (min-width: 768px) and (max-width: 991px) {
	.InnerPageBanner .InnerBannerText {
		color: #f2f2f2;
		margin-top: 260px;
	}
	.e-claim .InnerPageBanner {
		background-position: 0 0;
	}
	.career .InnerPageBanner {
		background-position: 0;
	}
	.crm .InnerPageBanner {
		background-position: 0;
	}
	.opd .InnerPageBanner {
		background-position: 0;
	}
	.navbar.navigation .nav.nav-custom>li a {
		color: #333;
		font-size: 16px;
	}
	.navbar.navigation .nav.nav-custom>li a:hover {
		color: #333;
		font-size: 16px;
	}
	.dropdown-content.NavSubMenuCompany ul {
		margin-right: 0px;
		width: 100%;
	}
	.ProductSubMenu {
		margin-right: 0;
	}
	.ProductSubMenuInner {
		width: 66%;
	}
	.carousel-inner .active.left {
		left: -50%;
	}
	.carousel-inner .active.right {
		left: 50%;
	}
	.carousel-inner .next {
		left: 50%;
	}
	.carousel-inner .prev {
		left: -50%;
	}
	.carousel-col {
		width: 50%;
	}
	.clients-logo .active>div:first-child+div {
		display: block;
	}
	.clients-logo {
		width: 600px;
	}
	.clients-logo .right.carousel-control {
		width: 110px;
		right: -110px;
	}
}
/*md*/

@media (min-width: 992px) and (max-width: 1199px) {
	.carousel-inner .active.left {
		left: -33%;
	}
	.carousel-inner .active.right {
		left: 33%;
	}
	.carousel-inner .next {
		left: 33%;
	}
	.carousel-inner .prev {
		left: -33%;
	}
	.carousel-col {
		width: 33%;
	}
	.clients-logo .active>div:first-child+div {
		display: block;
	}
	.clients-logo .active>div:first-child+div+div {
		display: block;
	}
	.clients-logo .right.carousel-control {
		width: 110px;
		right: -110px;
	}
	.clients-logo {
		width: 840px;
	}
}
/*lg*/

@media (min-width: 1200px) {
	.carousel-inner .active.left {
		left: -25%;
	}
	.carousel-inner .active.right {
		left: 25%;
	}
	.carousel-inner .next {
		left: 25%;
	}
	.carousel-inner .prev {
		left: -25%;
	}
	.carousel-col {
		width: 25%;
	}
	.clients-logo .active>div:first-child+div {
		display: block;
	}
	.clients-logo .active>div:first-child+div+div {
		display: block;
	}
	.clients-logo .active>div:first-child+div+div+div {
		display: block;
	}
}
/*.white-circle {
     background-color: #f2f2f2;
     border-radius: 50%;
}
 .white-circle:focus, .white-circle:hover, .white-circle:active {
     background-color: #f2f2f2 !important;
}
 .white-circle {
     width: 50px;
     height: 50px;
     border-radius: 100%;
     display: none;
}
*/

/*.nav-custom.navbar-right .input-group {
     margin-top: 10px;
}
 .nav-custom.navbar-right .input-group input {
     height: 30px;
     border: 1px solid #0d73ba;
     border-right: 0;
}
 .nav-custom.navbar-right .input-group .input-group-addon button {
     padding: 0;
     background: #f2f2f2fff;
     box-shadow: none;
     outline: none;
     color: #0d73ba;
     height: 30px;
     width: 30px;
     font-size: 18px;
     border: 1px solid #0d73ba;
}
*/

/*.nav-custom.navbar-right {
     max-width: 250px;
}
 .nav-custom.navbar-right .input-group .input-group-addon {
     padding: 0;
     border: none;
}
*/

/*.dropdown-content-inner {
     width: 54%;
     margin: 0 auto;
}
 .dropdown-inner {
     position: relative;
}
*/

/*.dropdown-inner::after {
     content: '';
     height: 140px;
     position: absolute;
     top: 30px;
     background-color: #323232;
     right: -90px;
     width: 1px;
}
 .dropdown-inner h3 {
     font-size: 24px;
     font-family: 'arialregular';
     font-weight: 100;
}
 .dropdown-inner p {
     font-size: 16px;
     font-family: 'arialregular';
     font-weight: 100;
     text-align: justify;
}
*/

/*.dropdown-list ul {
     margin: 23px 0px 0 150px;
     padding: 0;
     list-style: none;
}
 .dropdown-list ul li {
     margin-bottom: 5px;
}
 .dropdown-list ul li a {
     font-family: 'arialregular';
     font-size: 16px;
}
*/

/* our Values */

.product-wrapper ul li {
	font-family: 'arialregular';
	font-size: 16px;
	font-weight: 300;
}
.ourValues {
	background-image: url(../img/values.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 350px;
	padding: 70px 0;
}
.title-value h3 {
	margin: 20px 0 50px;
	text-align: center;
	color: #f2f2f2;
	font-size: 26px;
	font-weight: 200;
	text-transform: uppercase;
}
.valueBox {
	margin-bottom: 30px;
}
.valueBox h3 {
	margin: 0 0 15px 0;
	font-weight: 100;
}
.valueBox h3,
.valueBox p {
	color: #f2f2f2;
}
/* Signature Section */

.signatureSection {
	height: 600px;
	overflow: hidden;
}
.green-section {
	background-color: #016bc3;
	padding: 50px;
	width: 450px;
}
.green-section h3 {
	color: #f2f2f2;
	font-weight: 200;
}
.green-section h4 {
	color: #f2f2f2;
	font-weight: 300;
}
.green-section p {
	color: #f2f2f2;
}
.image-Section {
	margin-top: 100px;
}
.sign {
	margin: 30px 0;
}
.sign img {
	width: 200px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
	.navbar-collapse.collapse.in .nav-custom {
		height: 190px;
	}
	.sliderMain .item:nth-child(1) {
		background: url('../img/banner/img1.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 80vh;
		max-height: 768px;
	}
	.sliderMain .item:nth-child(2) {
		background: url('../img/banner/img2.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 80vh;
		max-height: 768px;
	}
	.sliderMain .item:nth-child(3) {
		background: url('../img/banner/crm.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 80vh;
		max-height: 768px;
	}
	.HealthMenuDiv {
		width: 100%;
	}
	.HealthMenuSubDiv {
		position: relative;
		width: 300px;
		left: 0px;
	}
	.foot-box {
		text-align: center;
	}
	.sliderMain {
		height: 100vh;
	}
	.navbar-default.navigation,
	.navbar-default.navigation-fixed {
		background-color: #fff;
	}
	.tech-insurance-left {
		padding: 0 20px;
	}
	.sliderMain .carousel-control.left,
	.sliderMain .carousel-control.right {
		display: none;
	}
	.navbar.navigation-fixed .navbar-brand.nav-fixed,
	.navbar.MegamenuActive .navbar-brand.nav-fixed {
		display: inline;
		margin-top: 0;
	}
	.social-link ul li {
		display: inline-block;
		margin-left: 4px;
	}
	.container-fluid.ClientLogoContainer .carousel-control .glyphicon-chevron-left,
	.container-fluid.ClientLogoContainer .carousel-control .glyphicon-chevron-right,
	.container-fluid.ClientLogoContainer .carousel-control .icon-prev,
	.container-fluid.ClientLogoContainer .carousel-control .icon-next {
		margin-top: 9px;
		position: relative;
		left: 2px;
	}
	.clients-logo .right.carousel-control {
		display: none;
	}
	.navbar-nav > li > .dropdown-menu {
		background-color: rgba(0, 108, 199, 0.7) !important;
	}
	.navbar.navigation .navbar-nav {
		float: none;
	}
	.sliderMain .item:nth-child(1) {
		height: 100vh;
	}
	.sliderMain .item:nth-child(2) {
		height: 100vh;
	}
	.sliderMain .item:nth-child(3) {
		height: 100vh;
	}
	.navbar.navigation.navigation-fixed {
		height: auto;
	}
	.tech-insurance .container {
		padding: 150px 0 0;
	}
	.carousel-indicators {
		bottom: -9px;
	}
	.dropdown-menu {
		background-color: rgba(0, 108, 199)!important;
	}
	.dropdown-menu ul>li a {
		color: #fff !important;
		font-size: 16px;
	}
	.InnerPageIconSection {
		padding: 0px 0 50px;
		text-align: center;
	}
	.navbar.navigation .nav.nav-custom>li a {
		color: #333;
		font-size: 16px;
	}
	.navbar.navigation .nav.nav-custom>li a:hover {
		color: #333;
		font-size: 16px;
	}
	.dropdown-content.NavSubMenuCompany ul {
		margin-right: 0px;
		width: 100%;
	}
	.ProductSubMenu {
		margin-right: 0;
	}
	.InnerPageBanner .InnerBannerRight {
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
	.InnerPageBanner .InnerBannerText h2 {
		font-size: 20px;
		margin: 0 0 11px;
	}
	.InnerPageBanner {
		min-height: 520px;
	}
	.InnerPageBanner .InnerBannerText {
		color: #f2f2f2;
		margin-top: 290px;
	}
	.nav.nav-custom {
		float: none;
	}
	.ProductSubMenu {
		margin-right: 0;
		width: 96%;
	}
	.whatInner-Container {
		text-align: center;
	}
	.ProductSubMenuInner ul {
		list-style: none;
		padding: 0;
		margin-top: 15px;
	}
	.ProductSubMenuInner {
		text-align: right;
		display: inline-block;
		padding: 0 10px;
		width: 100%;
	}
	.artificial .InnerPageBanner {
		background-position: 0 0px;
	}
	.privacy .InnerPageBanner {
		background-size: 100% 100%;
	}
	.terms .InnerPageBanner {
		background-size: 100% 100%;
		background-position: 0 101px;
	}
	.award .InnerPageBanner {
		background-size: cover;
		background-position: -149px 181px;
	}
	.kyor-doctor .InnerPageBanner {
		background-size: cover;
		background-position: 0 162px;
	}
	.ibuzz .InnerPageBanner {
		background-size: 100% 100%;
	}
	.opd .InnerPageBanner {
		background-position: 0 0;
	}
	.news .InnerPageBanner {
		background-size: cover;
		background-position: -503px 137px;
	}
	.gallery .InnerPageBanner {
		background-position: -79px 133px;
	}
	.health-buzz .InnerPageBanner {
		background-size: 100% 100%;
	}
	.kyor-work .InnerPageBanner {
		background-size: 100% 100%;
	}
	.e-claim .InnerPageBanner {
		background-size: cover;
		background-position: -100px 56px;
	}
	.health-x .InnerPageBanner {
		background-size: cover;
		background-position: -516px 134px;
	}
	.opd .InnerPageBanner {
		background-size: cover;
	}
	.crm .InnerPageBanner {
		background-size: cover;
	}
	.fraud .InnerPageBanner {
		background-size: cover;
		background-position: -44px 154px;
	}
	.about .InnerPageBanner {
		background-size: cover;
		background-position: -125px 165px;
	}
	.ContactUs .InnerPageBanner {
		background-size: cover;
		background-position: -252px 159px;
	}
	.employee .InnerPageBanner {
		background-size: cover;
		background-position: 0 187px;
	}
	.broker .InnerPageBanner {
		background-size: cover;
		background-position: 0 177px;
	}
	.career .InnerPageBanner {
		background-size: cover;
		background-position: -100px 100px;
	}
	.healthcare .InnerPageBanner {
		background-size: cover;
		background-position: -129px 195px;
	}
	.productPage .InnerPageBanner {
		background-size: 100% 100%;
	}
	.HomeBanner .banner-text {
		top: 255px;
		left: 0;
	}
	.banner-wrap {
		width: 93%;
	}
	.banner-wrap h3 {
		font-size: 16px;
	}
	.banner-wrap p {
		font-size: 12px;
	}
	.banner-wrap .btn-custom {
		font-size: 10px;
	}
	.social-link ul li a {
		color: #333;
	}
	.social-link ul {
		text-align: center;
		margin-bottom: 15px;
	}
	.white {
		color: #f2f2f2 !important;
		font-size: 20px;
		line-height: 28px;
	}
	.InnerPageBanner .InnerBannerBootomBg {
		width: 100%;
	}
	.InnerPageBanner .InnerBannerBootomBg {
		right: 0;
		left: 0px;
		position: relative;
		width: 100%;
		top: 160px;
	}
	.PostDate {
		text-align: left;
		margin: 15px 0 0;
	}
	.FooterCopyRight p {
		text-align: center;
	}
	.FooterCopyRight .RightDiv p {
		text-align: center;
	}
}
/* Navigatation Start */

.dropdown-menu > li.kopie > a {
	padding-left: 5px;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu .dropdown-menu li a {
	color: #fff;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu > a:after {
	border-color: transparent transparent transparent #333;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: block;
	float: right;
	height: 0;
	margin-right: -10px;
	margin-top: 5px;
	width: 0;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #555;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:hover {
	text-decoration: none;
}
@media (max-width: 767px) {
	.navbar-nav {
		display: inline;
	}
	.navbar-default .navbar-brand {
		display: inline;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-nav .dropdown-menu > li > a {
		color: red;
		background-color: #ccc;
		border-radius: 4px;
		margin-top: 2px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background-color: #ccc;
		color: #333 !important;
	}
	.navbar-nav .open .dropdown-menu {
		border-bottom: 1px solid white;
		border-radius: 0;
	}
	.dropdown-menu {
		padding-left: 10px;
	}
	.dropdown-menu .dropdown-menu {
		padding-left: 20px;
	}
	.dropdown-menu .dropdown-menu .dropdown-menu {
		padding-left: 30px;
	}
	li.dropdown.open {
		border: 0px solid red;
	}
}
@media (min-width: 768px) {
	ul.nav li:hover > ul.dropdown-menu {
		display: block;
	}
	#navbar {
		text-align: center;
	}
}
.navbar-default.navigation.navigation-fixed .WhiteIconDiv {
	display: none !important;
}
.navbar-default.navigation.navigation-fixed .ColorIconDiv {
	display: block !important;
}
@media only screen and (min-device-width: 600px) and (max-device-width: 800px) and (orientation: landscape) {
	.BodyContent {
		margin-top: 0;
	}
	.sliderMain .item:nth-child(1) {
		height: 160vh;
	}
	.sliderMain .item:nth-child(2) {
		height: 160vh;
	}
	.sliderMain .item:nth-child(3) {
		height: 160vh;
	}
	.sliderMain {
		height: 180vh;
	}
	.carousel-caption span {
		top: 93%;
	}
	.clients-logo {
		bottom: 0;
	}
	.carousel-indicators {
		bottom: 50px;
	}
}